<div class="container">
    <div class="row widgets-container">
        {{ footer_widgets }}
    </div>
</div>

<div class="legals">
    <p>
        Copyright &copy; {{"now"|date('Y')}} {{ site.name }}
    </p>
</div>
