{% extends "base.twig" %}


{% block content %}

<div class="container-fluid mt-3">
	<div class="row no-gutters">

		<div class="col" id="main">

			<div class="row no-gutters">
				<div class="col">
					<div class="video-container">
						<iframe src="https://www.youtube.com/embed/SpBu4Ri1ZkM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="row no-gutters subscribe-bar">
				<div class="col-12">
					<p id="live-count" class="p-2 float-left"></p>
					
					<script src="https://apis.google.com/js/platform.js"></script>

					<div class="yt-button float-right">
						<div class="pt-2 pr-2">
						<div class="g-ytsubscribe" data-channelid="UCl7pt1gW7PsDsBDXXzXIFoA" data-layout="default" data-count="default"></div>
						</div>
					</div>
					<p id="view-count" class="p-2 px-4 float-right"></p>
					<script>
					function get_yt(){
				
						$.getJSON('https://www.googleapis.com/youtube/v3/videos?part=statistics,liveStreamingDetails&id=SpBu4Ri1ZkM&key=AIzaSyC-pJMMaki35DKZCm1pabltZK4EM4Rd71k',function(data){
						//console.log(data);
						if(data.items[0].liveStreamingDetails.concurrentViewers) {
							document.getElementById('live-count').innerHTML = (data.items[0].liveStreamingDetails.concurrentViewers) + " watching now";
						}
						else {
							document.getElementById('live-count').innerHTML = "0 watching now";
						}
						document.getElementById('view-count').innerHTML = "Total Views: " + (data.items[0].statistics.viewCount);
						});
					}
					get_yt();
					setInterval( get_yt, 10000 );
					</script>
				</div>
			</div>

			<div class="row my-3 mx-0">
				<div class="col-md-6 bg-weatherblue">
						<a class="weatherwidget-io" href="https://forecast7.com/en/33d92n81d39/gilbert/?unit=us" data-label_1="LAKE MURRAY, SC" data-mode="Both" data-theme="original" >LAKE MURRAY WEATHER</a>
						<script>
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
						</script>
				</div>
				<div class="col-md-6 text-center bg-info text-white">
					<div class="date-container p-3">
						<h3>Dates</h3>
						<ul class="list-unstyled">
							{% for item in post.get_field('dates') %}
							<li>{{item.text}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row bg-light mt-3 no-gutters">
				<div class="col">
					<div class="disqus-wrapper pt-2 px-4">
						<div id="disqus_thread"></div>
					</div>
							
					<script>
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
						*  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
						*  PLATFORM OR CMS.
						*  
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
						*  https://disqus.com/admin/universalcode/#configuration-variables
						*/
						
						var disqus_config = function () {
							// Replace PAGE_URL with your page's canonical URL variable
							this.page.url = 'https://lakemurrayosprey.com'; 
							
							// Replace PAGE_IDENTIFIER with your page's unique identifier variable
							this.page.identifier = 2223;
							this.page.title = "Lake Murray Osprey"; 
						};
						
						(function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
							var d = document, s = d.createElement('script');
							
							// IMPORTANT: Replace EXAMPLE with your forum shortname!
							s.src = 'https://lakemurrayosprey.disqus.com/embed.js';
							
							s.setAttribute('data-timestamp', new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>
						Please enable JavaScript to view the 
						<a href="https://disqus.com/?ref_noscript" rel="nofollow">
							comments powered by Disqus.
						</a>
					</noscript>
				</div>
			</div>
		</div>

		<div class="col-4 px-1 ml-3" id="sticky-sidebar">
			<div class="sidebar sticky-top">

				<div class="chat-wrapper">
					<div class="chatroll">
						<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowtransparency="true" src="https://chatroll.com/embed/chat/lake-murray-osprey-live-cam?id=BJouKv03XEW&platform=html"></iframe>
					</div>
				</div>

				
			</div>
		</div>

	</div>
			
</div>
		
{% endblock %} 