{% extends "base.twig" %}


{% block content %}

<div class="container-fluid mt-3">
	<div class="row no-gutters">

		<div class="col-4 px-1 ml-3" id="sticky-sidebar">
			<div class="sidebar sticky-top">

				<div class="chat-wrapper">
					<div class="chatroll">
						<iframe src='https://www.youtube.com/live_chat?v=0PGhBYOl31Q&embed_domain=osprey.test' allow="encrypted-media"></iframe>
					</div>
				</div>

				
			</div>
		</div>

	</div>
			
</div>
		
{% endblock %} 