{% extends "base.twig" %}


{% block content %}

<div class="container-fluid mt-3">
	<div class="row no-gutters">

		<div class="col" id="main">

			<div class="row no-gutters">
				<div class="col">
					<div class="video-container stream-1">
						<iframe src="https://camstreamer.com/yt-embed/5a8a6bb2c173084/S-11363?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
					<div class="video-container stream-2 mt-4">
						<iframe src="https://camstreamer.com/yt-embed/da64ef8673cb139/S-11360?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
{# 
			Stream 1 <iframe width="560" height="315" src="https://camstreamer.com/yt-embed/5a8a6bb2c173084/S-11363?autoplay=1" frameborder="0" allowfullscreen></iframe>

			Stream 2 <iframe width="560" height="315" src="https://camstreamer.com/yt-embed/da64ef8673cb139/S-11360?autoplay=1" frameborder="0" allowfullscreen></iframe> #}

			<div class="row no-gutters subscribe-bar">
				<div class="col-12 d-flex align-items-center justify-content-between px-2">
					<button id="switchStream" type="button" class="btn btn-primary my-2 order-0 d-flex align-items-center"><svg style="height: 20px; color: white; fill: currentColor; padding-right: 4px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM7 6l8 4-8 4V6z"/></svg>Show Live Cam 2</button>
					
					

						<div class="d-flex align-items-center">
						<script src="https://apis.google.com/js/platform.js"></script>
						<span class="yt-button pt-2 pl-2 order-2">
								<div class="g-ytsubscribe" data-channelid="UCl7pt1gW7PsDsBDXXzXIFoA" data-layout="default" data-count="default"></div>

						</span>

						<p id="live-count" class="order-1">Thanks for viewing! Please subscribe for the latest updates!</p>
						</div>
					
					{# <p id="view-count" class="p-2 px-4 float-right"></p>
					<script>
					function get_yt(){
				
						$.getJSON('https://www.googleapis.com/youtube/v3/videos?part=statistics,liveStreamingDetails&id=_NEHwjrccaw&key=AIzaSyC-pJMMaki35DKZCm1pabltZK4EM4Rd71k',function(data){
						//console.log(data);
						if(data.items[0].liveStreamingDetails.concurrentViewers) {
							document.getElementById('live-count').innerHTML = (data.items[0].liveStreamingDetails.concurrentViewers) + " watching now";
						}
						else {
							document.getElementById('live-count').innerHTML = "0 watching now";
						}
						document.getElementById('view-count').innerHTML = "Total Views: " + (data.items[0].statistics.viewCount);
						});
					}
					get_yt();
					setInterval( get_yt, 10000 );
					</script> #}
				</div>
			</div>

			<div class="row my-3 mx-0">
				<div class="col-md-6 bg-weatherblue">
						<a class="weatherwidget-io" href="https://forecast7.com/en/33d92n81d39/gilbert/?unit=us" data-label_1="LAKE MURRAY, SC" data-mode="Both" data-theme="original" >LAKE MURRAY WEATHER</a>
						<script>
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
						</script>
				</div>
				<div class="col-md-6 text-center bg-info text-white">
					<div class="date-container p-3">
						<h3>Dates</h3>
						<ul class="list-unstyled">
							{% for item in post.get_field('dates') %}
							<li>{{item.text}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row bg-light mt-3 no-gutters">
				<div class="col">
					<div class="disqus-wrapper pt-2 px-4">
						<div id="disqus_thread"></div>
					</div>
							
					<script>
						/**
						*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
						*  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
						*  PLATFORM OR CMS.
						*  
						*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
						*  https://disqus.com/admin/universalcode/#configuration-variables
						*/
						
						var disqus_config = function () {
							// Replace PAGE_URL with your page's canonical URL variable
							this.page.url = 'https://lakemurrayosprey.com'; 
							
							// Replace PAGE_IDENTIFIER with your page's unique identifier variable
							this.page.identifier = 2223;
							this.page.title = "Lake Murray Osprey"; 
						};
						
						(function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
							var d = document, s = d.createElement('script');
							
							// IMPORTANT: Replace EXAMPLE with your forum shortname!
							s.src = 'https://lakemurrayosprey.disqus.com/embed.js';
							
							s.setAttribute('data-timestamp', new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>
						Please enable JavaScript to view the 
						<a href="https://disqus.com/?ref_noscript" rel="nofollow">
							comments powered by Disqus.
						</a>
					</noscript>
				</div>
			</div>
		</div>

		<div class="col-4 px-1 ml-3" id="sticky-sidebar">
			<div class="sidebar sticky-top">

				<div class="chat-wrapper">
					<div class="chatroll">
						<iframe src='https://www.youtube.com/live_chat?v=0PGhBYOl31Q&embed_domain=www.lakemurrayosprey.com'></iframe>
					</div>
				</div>

				
			</div>
		</div>

	</div>
			
</div>
		
{% endblock %} 